{block content}
<h1 n:inner-block="title">Výsledek testování</h1>

<ol class="breadcrumb">
  <li><a n:href="Verze:zmeny $verze->id">Verze {$verze->nazev}</a></li>
	<li><a n:href="Verze:zmeny#z$zmena->id $verze->id">Změna od {$zmena->autor->jmeno|upper}</a></li>
  <li class="active">Výsledek testování</li>
</ol>

<p>
	{!$zmena->text|nl2br}
</p>
<p n:if="$zmena->detail" class="{if $zmena->je_verejna}skryteInfo{/if}">
	{!$zmena->detail|nl2br}
</p>

<hr>

{if $neopraveneChyby}
	<div class="alert alert-warning">Nemůžeš ukončit testování této změny, protože má neopravené chyby!</div>
{else}
	<ul>
		<li>bez připomínek</li>
		<li>testováno na zakázce</li>
		<li>netestováno</li>
	</ul>

	{control testForm}
{/if}
