{block title}Změnové a testovací protokoly{/block}

{block content}
<h1>Seznam verzí</h1>

<ul>
	{foreach $seznamVerzi as $v}
	  <li><a n:href="Verze:zmeny, $v->id">{$v->nazev}</a></li>
	{/foreach}
</ul>
