<a name="z{$zmena->id}"></a>
<li class="zmena {if !$zmena->je_verejna}skryteInfo{/if}" data-id="{$zmena->id}">
  <div n:if="$pohled == 'test'" class="btn-toolbar akce">
    <div class="btn-group">
      <a n:href="Chyby:chyba, null, $zmena->id" title="Změna nefunguje správně" class="novaChyba btn btn-primary"><span class="glyphicon glyphicon-thumbs-down"></span></a>
      <a n:href="Zmeny:test, $zmena->id" title="Bravo! Změna je v pořádku." class="zmenaFunguje btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span></a>
    </div>
  </div>

  <p>
    {control stav, $zmena->je_ok}
    <span n:if="$pohled == 'dev' && $zmena->autor->jmeno == $uziv" class="moje glyphicon glyphicon-user" title="Tojo je moje změna"></span>
    {$zmena->autor->jmeno|upper} -
    {if $zmena->task}({$zmena->task}) {/if}{$zmena->typy_zmen->nazev}: <strong>{$zmena->uloha}</strong>
  </p>

  {!$zmena->text|texy}
  <div n:if="$zmena->detail" class="{if $zmena->je_verejna}skryteInfo{/if}">
    {!$zmena->detail|texy}
  </div>

  {if $pohled == 'boss'}
    {control testeri, $zmena}
  {/if}
    <p>
      {if $zmena->tester}<span n:if="$pohled == 'test' && $zmena->tester->jmeno == $uziv" class="moje glyphicon glyphicon-user" title="Tuto změnu testuji já"></span>{/if}
      {if $zmena->tester}{$zmena->tester->jmeno|upper}: {/if}{$zmena->vysledek_testu}
    </p>

  {if $pohled == 'dev' || $pohled == 'test'}
    {control chyby, $zmena->id}
  {/if}
</li>
