{block title}Testovací protokol - Verze {$verze->nazev}{/block}

{block content}
<h1>Testovací protokol</h1>

<h2>Verze {$verze->nazev} <a n:if="$pohled == 'boss'" n:href="Verze:export, $verze->id, 'protokol' => 'testy', 'pohled' => null, 'filtr' => null" target="_blank" title="Export" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span></a></h2>


<dl class="dl-horizontal">
  <dt>Datum</dt>
  <dd>{$verze->datum|date:'%d.%m.%Y'}</dd>
  {if $verze->pozn_verejna}
    <dt>Veřejné poznámky</dt>
    <dd>{!$verze->pozn_verejna|nl2br}</dd>
  {/if}
  {if $verze->pozn_skryta}
    <dt>Skryté poznámky</dt>
    <dd class="skryteInfo">{!$verze->pozn_skryta|nl2br}</dd>
  {/if}
</dl>

<h2>Testováno na</h2>
<dl n:inner-foreach="$testeriVeVerzi as $tester"  class="dl-horizontal">
  <dt>
    {$tester->tester->jmeno|upper}
  </dt>
  <dd>
    <a n:if="$pohled == 'test'" n:href="Verze:osoba $tester->tester_id" title="Upravit testovací prostředí u {$tester->tester->jmeno|upper}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
    {$tester->tester->prostredi}
  </dd>
</dl>

<h2>Změny</h2>

<div n:if="$filtr" class="alert alert-info">
  Zobrazeny pouze změny
  {if $filtr == 'autor'} autora {$uziv|upper}
  {elseif $filtr == 'autor-chyby'} autora {$uziv|upper}, které neprošly testováním
  {elseif $filtr == 'tester'}, které testuje {$uziv|upper}
  {elseif $filtr == 'tester-chyby'}, které neprošly testováním a testuje je {$uziv|upper}
  {elseif $filtr == 'boss-chyby'}, které neprošly testováním
  {elseif $filtr == 'bez-testera'}, které nemají přiřazeného testera
  {/if}
</div>

{snippet zmeny}
{foreach $zmeny as $zmena}
  {if $zmena->nadpis == 1}
    <h2>{$zmena->text}</h2>
  {elseif $zmena->nadpis == 2}
    <h3>{$zmena->text}</h3>
  {else}
    {include 'testy-zmena.latte', zmena => $zmena}
  {/if}
{/foreach}
{/snippet}
