{block title}Testovací protokol - Verze {$verze->nazev}{/block}

{block content}
<h1>Testovací protokol</h1>

<div n:if="$pohled == 'boss'" class="btn-toolbar">
  <div class="btn-group">
    <a n:href="Verze:export, $verze->id, 'protokol' => 'testy', 'pohled' => null, 'filtr' => null" target="_blank" title="Náhled" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Náhled</a>
    <a n:href="Verze:export, $verze->id, 'protokol' => 'testy', 'format' => 'pdf', 'pohled' => null, 'filtr' => null" target="_blank" title="Export" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Uložení</a>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Verze</dt>
  <dd>{$verze->nazev}</dd>
  <dt>Datum</dt>
  <dd>{$verze->datum|date:'%d.%m.%Y'}</dd>
</dl>

<div n:if="$verze->pozn_verejna">{!$verze->pozn_verejna|texy}</div>
<div n:if="$verze->pozn_skryta" class="skryteInfo">{!$verze->pozn_skryta|texy}</div>

<h2>Testovací prostředí</h2>
<dl n:inner-foreach="$testeriVeVerzi as $tester"  class="dl-horizontal">
  <dt>
    {$tester->tester->jmeno|upper}
  </dt>
  <dd>
    <a n:if="$pohled == 'test'" n:href="Verze:osoba, $tester->tester_id, $verzeId" title="Upravit testovací prostředí u {$tester->tester->jmeno|upper}" class="editaceTestera btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
    {$tester->tester->prostredi}
  </dd>
</dl>

<h2>Změny</h2>

<div n:if="$filtr" class="alert alert-info">
  Zobrazeny pouze změny
  {if $filtr == 'autor'} autora {$uziv|upper}
  {elseif $filtr == 'autor-chyby'} autora {$uziv|upper}, které neprošly testováním
  {elseif $filtr == 'tester'}, které testuje {$uziv|upper}
  {elseif $filtr == 'tester-chyby'}, které neprošly testováním a testuje je {$uziv|upper}
  {elseif $filtr == 'boss-chyby'}, které neprošly testováním
  {elseif $filtr == 'bez-testera'}, které nemají přiřazeného testera
  {/if}
</div>

{snippet zmeny}
<ul id="zmeny">
{foreach $zmeny as $zmena}
  {include 'testy-zmena.latte', zmena => $zmena}
{/foreach}
</ul
>{/snippet}
