<!DOCTYPE html>
<html lang="cs">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{block title}ZTP{/block}</title>
  <link href="{$basePath}/css/print.css" rel="stylesheet">
  <link href="{$basePath}/css/export.css" rel="stylesheet">
  <link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>

<body class="export">
{include content}
</body>
</html>
