<!DOCTYPE html>
<html lang="cs">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{block title}ZTP{/block}</title>
  <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{$basePath}/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{$basePath}/css/screen.css">
  <link rel="stylesheet" href="{$basePath}/css/print.css" media="print">
  <link rel="shortcut icon" href="{$basePath}/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Lato|Roboto+Slab:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  {block head}{/block}
</head>

<body class="{ifCurrent Verze:default}uvodniStrana{/ifCurrent}">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      <div id="sidebar">
        <h4><a n:href="Verze:default, 'filtr' => null" title="Úvodní stránka">Změnové a Testovací Protokoly</a></h4>

        {ifCurrent Verze:zmeny}
        <form id="menuForm" action="{link this}" method="get">
          <input type="hidden" name="pohled" value="{$pohled}">
          <input type="hidden" name="filtr" value="{$filtr}">

          <label>Verze:</label>
          <a n:if="$pohled == 'dev'" n:href="Verze:info, null" title="Vytvořit novou verzi" class="novyProtokol pull-right btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></a>
          <select name="verze" id="vyberVerze">
            <option value="">--- Vyber verzi ---</option>
            {foreach $vsechnyVerze as $v}
              <option value="{$v->id}" {if $v->id == $verzeId}selected{/if}>{$v->nazev}</option>
            {/foreach}
          </select>

          <label>Osoba:</label>
          <select name="uziv" id="vyberUzivatele">
            <option value="">--- Vyber osobu ---</option>
            {foreach $lide as $id => $jmeno}
            <option value="{$jmeno}" {if $jmeno == $uziv}selected{/if}>{$jmeno|upper}</option>
            {/foreach}
          </select>
        </form>

        <label>Pohled:</label>
        <div class="btn-toolbar" id="vyberPohledu">
          <div class="btn-group btn-group-justified">
            <a n:href="this, 'pohled' => 'dev', 'filtr' => null"  title="Pohled pro vývojáře" id="pohledDev" class="btn btn-primary {if $pohled == 'dev'}active{/if}">Vývojář</a>
            <a n:href="this, 'pohled' => 'test', 'filtr' => null" title="Pohled pro testera" id="pohledTest" class="btn btn-primary {if $pohled == 'test'}active{/if}">Tester</a>
            <a n:href="this, 'pohled' => 'boss', 'filtr' => null" title="Pohled pro bosse" id="pohledBoss" class="btn btn-primary {if $pohled == 'boss'}active{/if}">Boss</a>
          </div>
        </div>

        <label>Export:</label>
        <ul>
          <li>
            <a n:href="Verze:export, 'id' => array($verzeId), 'protokol' => 'zmeny', 'pohled' => null, 'filtr' => null" target="_blank" title="Náhled změnového protokolu">Změnový protokol</a>
            <a n:if="$pohled == 'boss'" n:href="Verze:export, 'id' => array($verzeId), 'protokol' => 'zmeny', 'format' => 'pdf', 'pohled' => null, 'filtr' => null" target="_blank" title="Uložení změnového protokolu" class="export btn btn-primary "><span class="glyphicon glyphicon-floppy-save"></span></a>
          </li>
          <li>
            <a n:href="Verze:export, 'id' => array($verzeId), 'protokol' => 'testy', 'pohled' => null, 'filtr' => null" target="_blank" title="Náhled testovacího protokolu">Testovací protokol</a>
            <a n:if="$pohled == 'boss'" n:href="Verze:export, 'id' => array($verzeId), 'protokol' => 'testy', 'format' => 'pdf', 'pohled' => null, 'filtr' => null" target="_blank" title="Uložení testovacího protokolu" class="export btn btn-primary "><span class="glyphicon glyphicon-floppy-save"></span></a>
          </li>
        </ul>
        {/ifCurrent}

        <label>Vyhledávání:</label>
        <ul>
          <li>
            <a n:href="Zmeny:hledat, 'pohled' => $pohled" title="Hledání ve změnových protokolech">Hledat změnu</a>
          </li>
        </ul>
      </div> <!-- #sidebar -->
      </div> <!-- .col-md-3 -->
      <div class="col-sm-9" id="main">
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
        {include content}
      </div> <!-- #main -->
    </div> <!-- .row -->
  </div> <!-- .container -->

  {block scripts}
  <script src="{$basePath}/js/jquery.js"></script>
  <script src="{$basePath}/js/nette.ajax.js"></script>
  <script src="{$basePath}/js/bootstrap.min.js"></script>
  <script src="{$basePath}/js/netteForms.js"></script>
  <script src="{$basePath}/js/main.js"></script>
  {/block}
</body>
</html>
