body {
  font-size: 10pt;
  line-height: 1.2;
}
h1, h2 {
  font-size: 12pt;
}
p {
  margin: 0;
  text-align: justify;
}
ul {
  padding-left: 20px;
}

h1, h2, dl, ul {
  margin-bottom: 10px;
  margin-top: 10px;
}
.vysledekTestu {
  text-align: right;
}
