.container {
  margin-left: 0;
}
body {
  background-color: #efefef;
  color: #404040;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
  font-size: 15px;
  font-weight: normal;
}
#main {
  background-color: #fcfcfc;
  padding-bottom: 15px;
  padding-top: 15px;
}
#sidebar {
  background-color: #343131;
  color: #b3b3b3;
  padding: 10px;
}
#sidebar select {
  color: #000;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
#sidebar #vyberPohledu, #sidebar #vyberProtokolu li {
  margin-bottom: 10px;
}
#sidebar #vyberProtokolu a {
  color: #fff;
}
#sidebar #vyberProtokolu a.btn {
  color: #fff;
}
#sidebar #vyberProtokolu .filtry {
  float: right;
}

h1, h2, h3, h4, h5, h6, legend {
  font-family: "Roboto Slab","Georgia",Arial,sans-serif;
  font-weight: 700;
}

/* texty, které se nezveřejňují ve finálním změnovém/testovacím protokolu */
.skryteInfo {
  background-color: #eee;
  border-left: 5px solid #ccc !important;
  /*color: #999;*/
  padding: 10px;
}

.zmena {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}
.zmena .head {
  text-align: center;
}
.zmena .head .moje {
  background-color: #d9edf7;
}
.zmena .btn-toolbar {
  float: right;
}
.zmena hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 a.btn {
  float: right;
}
/* znázornění stavu změny/chyby - funguje, nefunguje, čeká na otestování */
.zmena .stav {
  font-size: 250%;
}
#frm-zmenaForm .radio {
  float: left;
  margin-right: 10px;
}
textarea.form-control {
  height: 100px;
}
.testeri .dropdown-menu a.active  {
  font-weight: bold;
}

#uvodniStrana h1, #uvodniStrana h2, #uvodniStrana h3 {
  text-align: center;
}
#uvodniStrana h2, #uvodniStrana li {
  margin-bottom: 20px;
  margin-top: 20px;
}
#uvodniStrana ul {
  padding-left: 20px;
}
